<!-- <a [routerLink]="['/lazy-module']">Load lazy  Module</a>
<router-outlet> </router-outlet> -->
<!--<app-components-example [greetingInfo]='title'>
    <div>
        This is the content for your ComponentExample Component!
  </div>
</app-components-example>
<app-lifecycle-events *ngIf="shouldCompnentDisplay" [msg]="title"></app-lifecycle-events>
<button type="button" (click)="shouldCompnentDisplay=!shouldCompnentDisplay">Destroy Component</button>
<app-ucone-parent></app-ucone-parent>
<app-uctwo-parent></app-uctwo-parent>
<app-pipe-example></app-pipe-example>
<app-directives-example></app-directives-example>
<div style="margin: 10px;">
  <a routerLink="pipes-example" href="">pipe-example</a>
</div>
<div>
<a routerLink="rf-with-formcontrol" href="">rf with formcontol</a>
</div>
<button type="button" (click)="navigateto()">navigate to directives</button>

<a routerLink="ram">lazy</a>
<div>
<app-newcomp></app-newcomp>
</div>-->
<router-outlet> </router-outlet>