Student Details Information Below:
<div>
    <div>
        ID: {{studentDetailInfo.id}}
    </div>
    <div>
        Name: {{studentDetailInfo.name}}
    </div>
    <div>
        Address: {{studentDetailInfo.address}}
    </div>
    <div>
        Course Opted: {{studentDetailInfo.courseOpted}}
    </div>
    <div>
        Fee Paid: {{studentDetailInfo.feePaid}}
    </div>
    <div>
        Fee Due: {{studentDetailInfo.feeDue}}
    </div>
    <div>
        <button type="button" (click)="goToStudentList()">Back</button>
    </div>
</div>